
body{
    background-color: #ff7c2f;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    color: #BF0413;
}

.burgers{
    color:#F2360C;
}

.order{
    color:#b33000;
}

.footer{
    color:#573737;
}

