
body{
    background-color: #ff8138;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    color: #573737;
    font-weight: 0;
}

h2{
    color: #BF0413;
}

p{
    font-size: 1rem;
    font-weight: 400;
}

.burgers{
    color:#F2360C;
    font-size: 1.1rem;
    font-weight: 500;
}

.order{
    color:#b33000;
    font-size: 1.1rem;
    font-weight: 500;
}

.footer{
    color:#F2360C;
}

